[Unit]
Descript=KDE 
Requires=xorg.target dbus.socket lnusertemp@cache.service lnusertemp@socket.service lnusertemp@tmp.service
After=xorg.target dbus.socket lnusertemp@cache.service lnusertemp@socket.service lnusertemp@tmp.service 
